/* You can add global styles to this file, and also import other style files */
@import "./app/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Rubik:400,500,700,900');

body {
  height: auto;
  width: 100vw;
  overflow: hidden;
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: $main-font;
  text-rendering: optimizeLegibility;

  &.ready {
    overflow-y: auto;
  }

  & .wrapper {
    padding: 5rem $padding-right 0 $padding-left;
    overflow: hidden;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: rgba($c-black, 0.25);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $c-orange;
      outline: 1px solid slategrey;
    }
  }

  & button {
    font-family: $main-font;
  }

  &::-webkit-scrollbar {
    width: 0.33rem;
  }

  &::-webkit-scrollbar-track {
    background: rgba($c-black, 0.25);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-orange;
    outline: 1px solid slategrey;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $secondary-font;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 28pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 16pt;
}
h5 {
  font-size: 14pt;
}

p {
  line-height: 2rem;
}

button {
  background-color: $c-orange;
  color: $c-white;
  padding: 1rem 2rem;
  outline: none;
  border-bottom: .25rem solid $c-black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: .25rem;
  font-family: $secondary-font !important;
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease-out;
  &:hover {
    border-bottom: 0 solid $c-black;;
    margin-top: .25rem;
  }
}

.ngx-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
}

.ngx-gallery-image-text {
  display: flex;
  font-size: 25pt !important;
  padding: 1rem 1rem 2rem 1rem !important;
  background-color: rgba($c-black, .9) !important;
  font-family: $secondary-font !important;
}

.ngx-loading-text {
  font-family: $secondary-font !important;
  text-transform: uppercase;
}

fa {
  margin-right: 1rem;
}

small {
  font-size: 10pt;
  font-style: italic;
  margin: 1rem 0;
  color: $c-orange;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 28pt;
  }
  h2 {
    font-size: 36pt;
  }
  h3 {
    font-size: 18pt;
  }
  h4 {
    font-size: 16pt;
  }
  h5 {
    font-size: 14pt;
  }
}

.row {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  & .col {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    padding: 0 1rem;
    & app-image-gallery {
      width: 100%;
      min-width: 100%;
    }

    &.start {
      align-content:flex-start;
      justify-content: flex-start;
    }

    &.end {
      align-content:flex-end !important;
      justify-content: flex-end !important;
      align-items:flex-end !important;
      justify-items: flex-end !important;
    }
  }

  &.vertical {
    flex-direction: column;
    & .col {
      min-height: 0;
      height: auto;
      width: 100%;
    }
  }

  &.around {
    align-content: space-around;
    justify-content: space-around;
  }

  &.center {
    align-items: center;
    justify-items: center;
  }
}

.sponsor {
  display: inline-flex;
  flex-grow: 1;
  height: 33%;
  min-height: 10rem;
  width: 100%;
  min-width: 10rem;
  background-color: white;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem 0;
}

h4 {
  color: $c-black !important;
  font-weight: bold;
  margin: 1rem 0 ;
  padding: 1rem 0;
  width: 100%;
}

.event {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
  width: 100%;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 5rem;
  max-width: 20rem;
  margin: 1rem 0;
  background-color: $c-white;
  border-right: 1rem solid $c-black;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  cursor: pointer;
  transition: all 250ms ease-in;

  &.old {
    & .event-description {
      & h3 {
        font-size: 10pt !important;
      }
      & .event-date {
        font-size: 10pt !important;
      }
    }
  }

  &.next {
    border-color: $c-orange;

    &::before {
      content: 'PROSSIMO EVENTO';
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      padding: .25rem;
      background-color: $c-orange;
      color: $c-white;
      font-size: 8pt;
      width: 15rem;
      width: 7rem;
      text-align: center;
      border-bottom-right-radius: .25rem;
      font-weight: bold;
      font-family: $secondary-font;
    }
    & p {
      display: block;
    }

    & .event-description {
      margin-top: 5rem;
    }
  }

  &:hover {
    & .event-description {
      margin-top: 10rem;
    }
  }

  & .event-description {
    transition: all 250ms ease-out;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin-top: 0rem;
    background-color: $c-orange;
    color: $c-white;
    & .event-date {
      margin-top: .5rem;
      background-color: $c-white;
      padding: 1rem .25rem;
      border-radius: .25rem;
      color: $c-orange;
      font-weight: 500;
      display: flex;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
      justify-items: flex-start;
      font-family: $secondary-font;
      font-size: 18pt;

      & fa {
        margin-right: .25rem;
      }
    }
  }

  & p {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5rem;
  }
}

h2 {
  color: $c-black;
}


#news {
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;

  padding: 1rem;

  & .col {
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
  }

  & h2 {
    font-size: 38pt;
  }
}

.footer {
  background: $c-black;
  margin-left: -#{$padding-left};
  width: calc(100vw - 2rem);
  padding: 5rem 1rem;
  margin-top: 5rem;
  color: $c-white;
  & .row {
    height: 100%;

    & .col {
      height: 100%;
      max-width: 28vw;
      align-content: center;
      justify-content: center;
      font-family: $secondary-font;
      font-size: 14pt;
      text-align: justify;
      margin: 0 2rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .row {
    flex-direction: column;
    & #sponsors {
      order:3;
      align-content: flex-start;
      align-items: flex-start;

      & .sponsor {
        background-size: contain;
        margin: 0 1rem;
      }
    }

    & #events {
      order:2;

      & .row {
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        justify-items: flex-start;

        & .col {
          flex-grow: 0;
          width: 20rem;
          margin-right: 1rem;
        }
      }
    }

    & .col {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;

      & app-image-gallery {
        width: 100%;
      }

      & .row {
        width: 100%;
      }
    }

    &.vertical {
      flex-direction: row;

      & .col {
        width: auto;
      }
    }
  }

  .event {
    opacity: .75;
    flex-grow: 0;
    border-right: 0;
    border-radius: .25rem;
    width: 20rem;
    transition: all 250ms ease-out;

    &:hover {
      opacity: 1;
    }


    &.old {
      & .event-description {
        & h3 {
          font-size: 18pt !important;
        }
        & .event-date {
          margin-top: .5rem;
          background-color: $c-white;
          padding: .5rem;
          border-radius: .25rem;
          color: $c-orange;
          font-weight: bold;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          justify-items: center;
          max-width: 55%;
          font-family: $secondary-font;
          font-size: 18pt !important;
        }
      }
    }

    & .event-description {
      margin-top: 10rem;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    &.next {
      opacity: 1;
      & .event-description {
        margin-top: 10rem;
      }
    }
  }
}
