@import "./variables.scss";

app-header {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  padding: $padding-main;
  height: calc(#{$header-height} - #{$padding-top} + #{$padding-bottom});
  width: calc(100% - (#{$padding-left} + #{$padding-right}));
  background-color: $header-color;
  background: url($header-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:before {
    content: $header-title;
    position: absolute;
    top: calc(#{$header-height}/2.75);
    color: $header-color;
    font-size: 60pt;
  }
  &:after {
    content: $header-subtitle;
    position: absolute;
    top: calc(#{$header-height}/2);
    color: $header-color;
    font-size: 26pt;
  }
}

.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $bg-main;
  z-index: -1;
  background: $bg-main;
  opacity: 1;
}


