/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

/* RGB */
$color1: #1e272e;
$color2: rgba(152, 193, 217, 1);
$color3: rgba(224, 251, 252, 1);
$color4: rgba(238, 108, 77, 1);
$color5: rgba(41, 50, 65, 1);
// ELEMENT RELATED COLORS
$bg-color: #FFF;
$header-color: $color3;

$c-white: #fff;
$c-black: #4b6584;
$c-orange: #2d98da;

/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */
// FONTS
$main-font: 'Libre Baskerville', serif;
$secondary-font: 'Rubik', sans-serif;

// LAYOUT RELATED
$header-height: 50rem;
$content-padding: 5rem 2rem 1rem 2rem;
$padding-top: 1rem;
$padding-right: 5rem;
$padding-bottom: 1rem;
$padding-left: 5rem;
$padding-main: $padding-top $padding-right $padding-bottom $padding-left;
$margin-main:0 1rem;
$logo-width: 50px;
$logo-height: $logo-width;

// IMAGES
@function get_logo($prefix){
  @return "#{$prefix}/assets/images/logo/avdd_logo_fb.png";
}

// ANIMATIONS
$animation-duration-xs: 250ms;
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


/// IMAGES
$bg-main: '';
$header-bg: 'src/assets/images/header-bg.jpeg';

/// OTHERS
$header-title: 'Università del Tempo Libero';
$header-subtitle: 'Associazione Culturale Valle degli Dei - Grezzana Verona';
