@import '../variables.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  color: $c-white;


  & #logo {
    display: inline-flex;
    max-width: $logo-width;
    width: 50%;
    height: $logo-height;
    flex-shrink: 1;
    margin-right: $margin-main;
    background: url(#{get_logo('../../')});
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
  }

  & #site_desc {
    display: inline-flex;
    flex-grow: 1;
    text-align: left;
    margin: $margin-main;
    color: $c-white;
    font-weight: bold;
    font-size: 28pt;
  }

  & #menu {
    display: inline-flex;
    flex-grow: 1;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: $c-white;
    cursor: pointer;
    max-width: 5rem;
    font-family: $secondary-font;
    font-size: 18pt;

    & a {
      appearance: none;
      color: inherit;
      border: none;
      outline: none;
      width: 100%;
    }

    & .menu-items-wrapper {
      position: absolute;
      top: 4rem;
      right: calc(#{padding-right} + 1rem);
      background-color: $c-white;
      height: .25rem;
      width: 1rem;

      transition: all $animation-duration-xs ease-out;

      & button {
        visibility: hidden;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: all $animation-duration-xs ease-in;
        display: inline-flex;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 100%;
        cursor: pointer;
        border-radius: 0;
        text-align: right;
        justify-items: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: flex-end;
        padding: $padding-top $padding-bottom;
        color: $c-black;
        font-family: $secondary-font;
        font-size: 14pt;
        &:hover {
          background: rgba($c-black, .1);
        }
      }
    }

    &:hover {
      margin-top: 0 !important;
      & .menu-items-wrapper {
        width: 5rem;

      }
    }

    &.active {
      & .menu-items-wrapper {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
        width: auto;
        min-width: 25vw;
        height: auto;
        animation: fadeIn $animation-duration-xs;
        & button {
          visibility: visible;
          animation: fadeIn $animation-duration-xs;
          animation-fill-mode: forwards;
          &:hover {
            margin-top: 0;
          }
        }
      }
    }
  }
}
