<div class="header">
  <div id="logo"></div>
  <div id="site_desc">
    {{this.title}}
  </div>
  <button id="menu" [ngClass]="{'active': menuActive}" (click)="this.onMenuClick($event)">
    MENU
    <div class="menu-items-wrapper">
      <a *ngFor="let item of this.menuItems" href="{{item.url}}">
        <button class="menuItem" [disabled]=item.disabled>
          {{item.label}}
        </button>
      </a>
    </div>
  </button>
</div>
