<div class="wrapper">
  <div [class]="'row'">
    <div [class]="'col start'" id="sponsors">
      <h2>I Nostri Sponsor</h2>
      <div [class]="'row vertical'">
        <div [class]="'col'" *ngFor="let sponsor of this.currentSponsors">
          <h4>{{ sponsor.alt }}</h4>
          <div
            class="sponsor"
            [ngStyle]="{ backgroundImage: sponsor.image }"
            title="{{ sponsor.alt }}"
          ></div>
        </div>
      </div>
    </div>
    <div [class]="'col start'">
      <div [class]="'row'">
        <div [class]="'col'"><app-image-gallery></app-image-gallery></div>
      </div>
      <div [class]="'row'" id="news">
        <div [class]="'col start'">
          <h2>Le nostre ultime notizie..</h2>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
          <h4>Notizia 1</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            facilisis porttitor erat semper tempor. Mauris ut tempor risus.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Integer sed viverra lorem. Mauris et
            facilisis lacus. Praesent tempor ante quis tellus tristique, sed
            gravida neque consequat. Etiam tristique, lorem ut imperdiet tempus,
            dui dolor cursus eros, sit amet tincidunt nisl quam id elit. Morbi
            fermentum nunc viverra iaculis ultrices.
          </p>
          <div [class]="'row around'" style="width: 100%;">
            <div [class]="'col'"><small>01 Gennaio 2019</small></div>
            <div [class]="'col end'">
              <small>A cura di <b>Mario Rossi</b></small>
            </div>
          </div>
          <button><fa name="eye"></fa>Leggi...</button>
        </div>
      </div>
    </div>
    <div [class]="'col'" id="events">
      <div [class]="'row vertical around'">
        <h2>I Nostri Eventi</h2>
        <h4>Eventi passati</h4>
        <div [class]="'row vertical'">
          <div [class]="'col'" *ngFor="let event of this.getExpiredEvents()">
            <div
              class="event"
              [ngClass]="{ next: event.isNext, old: event.expired }"
              [ngStyle]="{ backgroundImage: event.image }"
              title="{{ event.label }}"
            >
              <div class="event-description">
                <h3>{{ event.label }}</h3>
                <div class="event-date">
                  <fa name="calendar"></fa>{{ event.date }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <h4>Prossimi eventi</h4>
        <div [class]="'row vertical'">
          <div [class]="'col'" *ngFor="let event of this.getNextEvents()">
            <div
              class="event"
              [ngClass]="{ next: event.isNext, old: event.expired }"
              [ngStyle]="{ backgroundImage: event.image }"
              title="{{ event.label }}"
            >
              <div class="event-description">
                <h3>{{ event.label }}</h3>
                <div class="event-date">
                  <fa name="calendar"></fa>{{ event.date }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
