@import '../../variables.scss';
.document-link {
  margin: 1rem;
  background-color: $c-orange;
  padding: 2rem;
  border-radius: 5px;
  color: $c-white;
  & a {
    appearance: none;
    background-color: $c-white;
    color: $c-orange;
    padding: 1rem;
    display: inline-flex;
    margin-top: 1rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
  }
}
