<div class="wrapper">
  <div [class]="'row'">
    <div [class]="'col'">
      <h2>Documenti</h2>
    </div>
  </div>
  <div [class]="'row'">
    <div [class]="'col'">
      <div [class]="'document-link'">
        <h3>Modulo di iscrizione</h3>
        <a href="#">Scarica</a>
      </div>
    </div>
    <div [class]="'col'">
      <div [class]="'document-link'">
        <h3>Modulo di iscrizione</h3>
        <a href="#">Scarica</a>
      </div>
    </div>
    <div [class]="'col'">
      <div [class]="'document-link'">
        <h3>Modulo di iscrizione</h3>
        <a href="#">Scarica</a>
      </div>
    </div>
  </div>
</div>
