@import '../variables.scss';

  * {
    font-size: 125%;
    color: $c-white;
  }

  a {
    color: #fff;
    font-size: 75%;
  }

  .code-area {
    position: absolute;
    width: auto;
    min-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .code-area > span {
    display: block;
  }

  @media screen and (max-width: 320px) {
    .code-area {
      font-size: 5vw;
      min-width: auto;
      width: 95%;
      margin: auto;
      padding: 5px;
      padding-left: 10px;
      line-height: 6.5vw;
    }
  }
