<div class="wrapper">
  <div [class]="'row'">
    <div [class]="'col'">
      <h2>Chi siamo</h2>
    </div>
  </div>
  <div [class]="'row'">
    <div [class]="'col'">
      <p>
        L’Università del tempo libero è un’Associazione culturale fondata nel
        2017: essa è frutto dell’impegno di volontari e da questi costituita.
        L’Associazione non ha scopo di lucro e persegue esclusivamente finalità
        culturali e di solidarietà sociale. In particolare, si prefigge di
        promuovere la partecipazione dei propri associati alla vita della
        comunità, al fine di conseguire un più elevato livello culturale,
        promuovendo nel territorio iniziative culturali di qualsiasi genere, con
        particolare attenzione ai problemi della valorizzazione della persona
        umana e della società. L'Associazione assume e promuove l’obiettivo
        dell’educazione permanente in ogni età della vita, in collaborazione con
        le istituzioni; promuovendo ed organizzando cicli di incontri con lo
        scopo di diffondere la cultura, attraverso linguaggi e forme espressive
        accessibili a tutti, e favorire la socializzazione.
      </p>
    </div>
  </div>
  <div [class]="'row'">
    <div [class]="'col'">
      <p>
        Per la realizzazione degli obiettivi che si prefigge, si propone di:
        <br />-Favorire il dialogo, l'incontro ed il confronto fra le diverse
        generazioni per una maggiore comprensione e comunicabilità sociale;
        <br />-Elaborare proposte culturali che valorizzino la potenzialità di
        tutte le età e in particolare della terza età, contribuendo a migliorare
        le conoscenze dei suoi componenti; <br />-Organizzare e gestire i corsi
        dell’Università del Tempo Libero<br />-Organizzare seminari, spettacoli,
        conferenze, dibattiti, laboratori, corsi, iniziative formative, viaggi
        culturali, concerti, animare programmi socio-ricreativi, promuovere
        attività editoriali collegate alle attività dell'Associazione, attivare
        studi, ricerche, convegni e pubblicazioni sui problemi del tempo libero
        e dell’educazione.
      </p>
    </div>
  </div>
  <div [class]="'row'">
    <div [class]="'col'">
      <p>
        L'università promuove una serie di incontri che si tengono nei giorni di
        Martedì e Giovedì , dalle ore 15,00 alle ore 16,00 presso la sala
        Bodhenaim della Biblioteca di Grezzana. I temi affrontati sono i più
        svariati: dalla storia del territorio alla cucina, dall'astronomia alla
        religione, alla salute. Dopo una fase iniziale di sperimentazione,
        vorremmo che i temi fossero scelti direttamente dai partecipanti e a
        tale proposito abbiamo già iniziato a raccogliere pareri e suggerimenti.
        L'università è basata sul volontaria, pertanto tutte le persone disposte
        ad offrire liberamente il proprio tempo sono benvenute! I docenti
        prestano la loro collaborazione in modo gratuito.
      </p>
    </div>
  </div>
</div>
